name: Traffic Monitor Cron
#sample comment to trigger push
on:
  schedule:
    - cron: '*/30 * * * *' # Runs every 30 minutes
  workflow_dispatch: # Allows manual trigger button

jobs:
  run-traffic-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Traffic Script
        env:
          NEON_DB_URL: ${{ secrets.NEON_DB_URL }}
        run: python main.py
